* {
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: black;
}

strong {
    font-weight: bold;
}

button {
    font-family: 'Baloo 2', 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.4);
    font-family: 'Baloo 2', 'Helvetica', 'Arial', sans-serif;
}

.black-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        opacity: 0;
    }
    h2 {
        font-size: 4em;
    }
}

.game {
    display: none;
    height: 100%;
    width: 100%;
    .background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}

.main-menu {
    width: 100%;
    height: 100%;
    display: none;
    background-image: url('../images/main-menu.jpg');
    background-size: cover;
    .brief {
        position: absolute;
        top: 48%;
        left: 37%;
        width: 43%;
    }
    .buttons {
        font-size: 2em;
        button {
            position: absolute;
            border: none;
            background: none;
            background-size: 100% 100%;
            &:hover {
                background-image: url('../images/menu-button-selection.png');
            }
            &:disabled {
                color: grey;
                background-image: none;
            }
        }
        .start-game {
            top: 61%;
            left: 46%;
        }
        .load-game {
            left: 69%;
            top: 61%;
        }
        .about-button {
            top: 71%;
            left: 59%;
        }
    }
    aside {
        padding: 5%;
        position: absolute;
        bottom: 0;
        li {
            display: inline;
        }
        i {
            font-size: 1.2em;
        }
    }
    .advisory {
        position: absolute;
        bottom: 0;
        background-color: black;
        color: white;
        width: 100%;
        padding: 5px;
        p {
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            left: 100%;
            white-space: nowrap;
            animation-name: advisoryScroll;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
    }
}

.about {
    display: none;
    color: white;
    text-align: center;
    height: 100%;
    button {
        background-color: transparent;
        border: none;
        font-size: 2em;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em;
        i {
            color: white;
            transition: color 0.6s;
        }
        .paper {
            position: absolute;
            background-color: $primary-color;
            height: 3em;
            width: 3em;
            top: 0;
            left: -110%;
            z-index: -1;
            transform: rotate3d(1, 1, 1, 9deg);
            transition: left 0.6s;
        }
        &:hover {
            i {
                color: black;
            }
            .paper {
                left: 3%;
            }
        }
    }
    .content {
        width: 50%;
        height: 100%;
        margin: auto;
        position: relative;
    }
    .scroll {
        position: absolute;
        top: 100%;
        width: 100%;
        margin: auto;
        animation-name: creditsScroll;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        &:hover {
            animation-play-state: paused;
        }
    }
    h2 {
        font-size: 4em;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.2em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    p, a {
        font-size: 1.1em;
        color: white;
    }
    ul {
        text-align: left;
        width: 70%;
        margin: 1em auto 1em auto;
        li {
            margin-bottom: 1em;
        }
    }
}