@use "sass:color";

$primary-color: #fff3c4;
$primary-color-lighter: lighten($primary-color, 10%);
$primary-color-darker: darken($primary-color, 10%);

$secondary-color: #c4cfff;
$secondary-darker: #55596d;

$info-box-color: #535353c9;

@mixin primaryButton() {
   background-color: $primary-color-lighter;
   border: none;
   box-shadow: inset 0px 0px 3px 1px $primary-color-darker;
   font-size: 2em;
   padding: 1em;
   transition: background-color 0.2s;
   &:hover {
      background-color: $primary-color-darker;
   }
   &:disabled {
      background-color: grey;
   }
}

@keyframes sprite-animation {
   100% { background-position: 100%; }
}

@keyframes rotation-animation {
   100% { transform: rotate(360deg); }
}

@keyframes pointer {
   0% {
      top: 1em;
   }
   100% {
      top: 0.5em;
   }
}

@keyframes creditsScroll {
   100% {top: -200%}
}

@keyframes advisoryScroll {
   100% {left: -280%}
}