.hud {
    display: grid;
    grid-template-columns: 12% 12% 1fr auto;
    align-content: flex-start;
    gap: 0 25px;
    padding: 2%;
    color: white;
    font-size: 1em;
    button {
        background: none;
        color: white;
        border: none;
        font-size: 1.5em;
        z-index: 2;
    }
    .fa-heart, .fa-atom {
        margin-right: 5px;
    }
}

.encyclopedia {
    position: relative;
    .fa-question-circle {
        position: relative;
        color: white;
        margin-bottom: 1em;
        cursor: pointer;
        transition: color 0.3s;
    }
    .content {
        padding: 2%;
        z-index: 2;
        position: absolute;
        left: -5em;
        transition: left 0.3s;
    }
    &:hover .content {
        left: 0;
    }
    &:hover .fa-question-circle {
        color: $primary-color;
    }
    .content > div {
        position: relative;
        border-radius: 50%;
        
        width: 3em;
        height: 3em;
        .quantity {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 1.1em;
            height: 1.1em;
            color: white;
            text-align: center;
            border-radius: 50%;
            background-color: blue;
            p {
                font-size: 0.8em;
                line-height: 1.4em;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover .description {
            display: block;
        }
        .description {
            h2 {
                font-weight: bold;
            }
            display: none;
            position: absolute;
            top: 0;
            background-color: $info-box-color;
            left: 100%;
            min-width: 120px;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }

}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .box {
        position: relative;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        background-color: $primary-color;
        padding: 10px;
        z-index: 3;
        width: 40%;
        min-width: 200px;
        max-width: 410px;
        h2 {
            text-align: center;
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(38, 38, 38, 0.808);
        position: absolute;
    }
}

.pause-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    button {
        @include primaryButton();
    }
}

.tower-picker {
    text-align: center;
    position: relative;
    h2 {
        padding: 15px;
        font-size: 2em;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        height: 100px;
    }
    button {
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        background-color: $primary-color-lighter;
        &:disabled {
            background-color: grey;
        }
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .selected {
        border: 3px solid yellow;
    }
    .confirm {
        position: absolute;
        left: 95%;
        top: 85%;
    }
    .description {
        h3 {
            font-weight: bold;
        }
        position: absolute;
        color: white;
        background-color: $info-box-color;
        width: 100%;
        z-index: -1;
        border-radius: 10px;
        padding: 5px 15px;
        text-align: left;
        left: 0;
        top: calc(100% + 10px);
    }
}

.game-over {
    text-align: center;
    h2 {
        font-size: 3em;
        margin-bottom: 1%;
    }
    .buttons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100px;
        gap: 15px;
        margin-top: 5%;
        button {
            @include primaryButton();
        }
    }
}

.wave-cutscene {
    text-align: center;
    h2 {
        font-size: 2em;
    }
    i {
        margin: 0.5em;
        font-size: 4em;
    }
    .box {
        position: absolute;
        bottom: 100%;
    }
}

.win-cutscene {
    text-align: center;
    h2 {
        font-size: 2em;
    }
    i {
        margin: 0.5em;
        font-size: 4em;
    }
    .box {
        position: absolute;
        bottom: 100%;
    }
}