.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .top-hud {
        display: grid;
        grid-template-columns: 12% 12% 12% 1fr auto auto;
        align-content: flex-start;
        gap: 0 25px;
        padding: 2%;
        color: white;
        font-size: 1em;
        z-index: 8;
        pointer-events: none;
        .volume {
            text-align: right;
        }
        button {
            pointer-events: all;
            background: none;
            color: white;
            border: none;
            font-size: 1.5em;
            z-index: 2;
        }
        .fa-heart, .fa-atom {
            margin-right: 5px;
        }
    }
    .bottom-hud {
        padding: 2%;
        display: flex;
        justify-content: center;
        .power {
            z-index: 5;
            position: relative;
            margin: 0 0.5em;
            .new {
                position: absolute;
                top: 5%;
                left: 70%;
                padding: 2px;
                border-radius: 5px;
                background-color: $secondary-color;
                pointer-events: none;
            }
        }
        .description {
            display: none;
            position: absolute;
            bottom: 4.5em;
            left: 0;
            padding: 1em;
            background-color: $info-box-color;
            color: white;
            width: 12em;
        }
        button {
            width: 2em;
            height: 2em;
            border: none;
            border-radius: 50%;
            font-size: 2em;
            line-height: 1em;
            background: linear-gradient(to bottom, rgba(1, 1, 1, 0) 49%, $primary-color 50% 100%);
            background-size: 100% 200%;
            background-position: 0% 99%;
            animation: Animation 5s ease infinite;
            color: $secondary-darker;
            opacity: 0.8;
            &:disabled {
                opacity: 0.5;
            }
            &:hover {
                opacity: 1;
            }
            &:hover + .description {
                display: block;
            }
        }
    }
}

.encyclopedia {
    position: relative;
    pointer-events: all;
    .fa-question-circle {
        position: relative;
        color: white;
        margin-bottom: 1em;
        cursor: pointer;
        transition: color 0.3s;
    }
    .content {
        padding: 2%;
        z-index: 2;
        position: absolute;
        left: -5em;
        transition: left 0.3s;
    }
    &:hover .content {
        left: 0;
    }
    &:hover .fa-question-circle {
        color: $primary-color;
    }
    .content > div {
        position: relative;
        border-radius: 50%;
        
        width: 3em;
        height: 3em;
        .quantity {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 1.1em;
            height: 1.1em;
            color: white;
            text-align: center;
            border-radius: 50%;
            background-color: blue;
            p {
                font-size: 0.8em;
                line-height: 1.4em;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover .description {
            display: block;
        }
        .description {
            h2 {
                font-weight: bold;
            }
            display: none;
            position: absolute;
            top: 0;
            background-color: $info-box-color;
            left: 100%;
            min-width: 10em;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }

}

.tutorial {
    .pointer {
        position: absolute;
        color: $primary-color;
        pointer-events: none;
        z-index: 5;
        i {
            font-size: 3em;
            position: relative;
            animation: pointer 1s infinite;
        }
        .node-text {
            position: relative;
            font-size: 1.5em;
        }
        .hp-text {
            position: relative;
            top: 3em;
            width: 8em;
        }
        .money-text {
            position: relative;
            top: 3em;
            width: 10em;
        }
    }
    .powers {
        color: $primary-color;
        font-size: 1em;
        .text {
            position: relative;
            width: 10em;
            text-align: right;
            right: 11em;
            bottom: 1em;
        }
    }
}

.call-wave {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-size: 2.5em;
    padding: .25em;
    background-color: $primary-color;
    border: none;
    z-index: 6;
    &:hover {
        background-color: $primary-color-darker;
    }
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    .box {
        position: relative;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        background-color: $primary-color;
        padding: 1em;
        z-index: 1;
        h2 {
            text-align: center;
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(38, 38, 38, 0.808);
        position: absolute;
    }
}

.pause-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    button {
        @include primaryButton();
    }
}

.tower-picker {
    text-align: center;
    position: relative;
    padding: 1em 3em;
    h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        > div {
            position: relative;
        }
    }
    button {
        height: 4em;
        width: 4em;
        margin: 0.2em;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        background-color: $primary-color-lighter;
        &:disabled {
            background-color: grey;
        }
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .selected {
        border: 0.5em solid yellow;
    }
    .confirm {
        position: absolute;
        left: 95%;
        top: 85%;
    }
    .new {
        position: absolute;
        top: 5%;
        left: 70%;
        padding: 2px;
        border-radius: 5px;
        background-color: $secondary-color;
    }
    .description {
        h3 {
            font-weight: bold;
        }
        position: absolute;
        color: white;
        background-color: $info-box-color;
        width: 100%;
        z-index: -1;
        border-radius: 10px;
        padding: 5px 15px;
        text-align: left;
        left: 0;
        top: calc(100% + 1em);
    }
}

.level-up {
    h2 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    label {
        font-weight: bold;
        line-height: 1.1em;
    }
    li {
        margin-left: 1em;
    }
    .buttons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
    }
    button {
        @include primaryButton();
        width: 100%;
    }
}

.game-over, .win-game {
    h2 {
        font-size: 3em;
        margin-bottom: 1%;
    }
    .buttons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: 5%;
        button {
            @include primaryButton();
        }
    }
    .end-game {
        @include primaryButton();
        display: block;
        width: 100%;
    }
}

.card {
    text-align: center;
    h2 {
        font-size: 2em;
        white-space: nowrap;
    }
    i {
        margin: 0.5em;
        font-size: 4em;
    }
    .box {
        position: absolute;
        bottom: 100%;
    }
}