.main-menu {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    main {
        height: 50%;
        h1 {
            font-size: 5em;
        }
        text-align: center;
    }
    .buttons {
        text-align: center;
        font-size: 30px;
        display: grid;
        gap: 20px;
        grid-template-columns: 180px 180px;
        justify-content: center;
        margin-top: 5%;
        button {
            border: none;
            background: none;
        }
        .load-game {
            display: none;
            grid-column-end: span 2;
        }
    }
    aside {
        padding: 5%;
        position: absolute;
        bottom: 0;
        li {
            display: inline;
        }
        i {
            font-size: 1.2em;
        }
    }
    .advisory {
        position: absolute;
        bottom: 0;
        background-color: black;
        color: white;
        width: 100%;
        padding: 5px;
        p {
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            left: 100%;
            white-space: nowrap;
            animation-name: advisoryScroll;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }
    }
}

@keyframes advisoryScroll {
    100% {left: -280%}
}

.hud {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-content: flex-start;
    gap: 25px;
    padding: 2%;
    color: white;
    font-size: 1em;
    button {
        background: none;
        font-size: 25px;
        color: white;
        border: none;
        z-index: 2;
        width: 50px;
    }
    .fa-heart, .fa-atom {
        margin-right: 5px;
    }
}

.encyclopedia {
    position: absolute;
    right: 0;
    height: 100%;
    .content {
        position: relative;
        box-shadow: inset -195px 0px 51px -187px rgba(0,0,0,0.75);
        height: 100%;
        left: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 50px;
        gap: 10px;
        padding: 2%;
        z-index: 2;
        transition: left 0.3s;
    }
    &:hover .content {
        left: 0;
    }
    .fa-question-circle {
        position: absolute;
        left: 50%;
        top: 40%;
        color: white;
        font-size: 1.5em;
        transition: left 0.3s;
    }
    &:hover .fa-question-circle {
        left: 100%;
    }
    .content > div {
        position: relative;
        border-radius: 50%;
        width: 4em;
        padding: 5px;
        .quantity {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            line-height: 21px;
            font-size: 14px;
            color: white;
            text-align: center;
            border-radius: 50%;
            background-color: blue;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover .description {
            display: block;
        }
        .description {
            display: none;
            position: absolute;
            top: 0;
            background-color: $info-box-color;
            right: 100%;
            min-width: 120px;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }

}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .box {
        position: relative;
        background-color: $primary-color;
        padding: 10px;
        z-index: 3;
        border-radius: 10px;
        h2 {
            text-align: center;
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(38, 38, 38, 0.808);
        position: absolute;
    }
}

.pause-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    height: 100px;
    gap: 15px;
}

.tower-picker {
    width: 200px;
    text-align: center;
    h2 {
        padding: 15px;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        height: 100px;
    }
    button {
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        background-color: transparent;
        &:disabled {
            background-color: grey;
        }
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .selected {
        border: 3px solid yellow;
    }
    .confirm {
        position: absolute;
        left: 85%;
        top: 75%;
    }
    .description {
        position: absolute;
        color: white;
        background-color: $info-box-color;
        width: 100%;
        z-index: -1;
        border-radius: 10px;
        padding: 5px 15px;
        text-align: left;
        left: 0;
        top: 100%;
    }
}

.game-over {
    text-align: center;
    h2 {
        font-size: 3em;
        margin-bottom: 1%;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
        height: 100px;
        gap: 15px;
        margin-top: 5%;
        button {
            @include modalButton();
        }
        button:hover {
            background-color: $primary-color-darker;
        }
    }
}