@use "sass:color";
@-webkit-keyframes sprite-animation {
  100% {
    background-position: 100%;
  }
}
@keyframes sprite-animation {
  100% {
    background-position: 100%;
  }
}

@-webkit-keyframes rotation-animation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation-animation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pointer {
  0% {
    top: 1em;
  }
  100% {
    top: 0.5em;
  }
}

@keyframes pointer {
  0% {
    top: 1em;
  }
  100% {
    top: 0.5em;
  }
}

@-webkit-keyframes creditsScroll {
  100% {
    top: -200%;
  }
}

@keyframes creditsScroll {
  100% {
    top: -200%;
  }
}

@-webkit-keyframes advisoryScroll {
  100% {
    left: -280%;
  }
}

@keyframes advisoryScroll {
  100% {
    left: -280%;
  }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: black;
}

strong {
  font-weight: bold;
}

button {
  font-family: 'Baloo 2', 'Helvetica', 'Arial', sans-serif;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.4);
  font-family: 'Baloo 2', 'Helvetica', 'Arial', sans-serif;
}

.black-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: black;
  pointer-events: none;
  opacity: 0;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.black-screen .content {
  opacity: 0;
}

.black-screen h2 {
  font-size: 4em;
}

.game {
  display: none;
  height: 100%;
  width: 100%;
}

.game .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main-menu {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url("../images/main-menu.jpg");
  background-size: cover;
}

.main-menu .brief {
  position: absolute;
  top: 48%;
  left: 37%;
  width: 43%;
}

.main-menu .buttons {
  font-size: 2em;
}

.main-menu .buttons button {
  position: absolute;
  border: none;
  background: none;
  background-size: 100% 100%;
}

.main-menu .buttons button:hover {
  background-image: url("../images/menu-button-selection.png");
}

.main-menu .buttons button:disabled {
  color: grey;
  background-image: none;
}

.main-menu .buttons .start-game {
  top: 61%;
  left: 46%;
}

.main-menu .buttons .load-game {
  left: 69%;
  top: 61%;
}

.main-menu .buttons .about-button {
  top: 71%;
  left: 59%;
}

.main-menu aside {
  padding: 5%;
  position: absolute;
  bottom: 0;
}

.main-menu aside li {
  display: inline;
}

.main-menu aside i {
  font-size: 1.2em;
}

.main-menu .advisory {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px;
}

.main-menu .advisory p {
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  left: 100%;
  white-space: nowrap;
  -webkit-animation-name: advisoryScroll;
          animation-name: advisoryScroll;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.about {
  display: none;
  color: white;
  text-align: center;
  height: 100%;
}

.about button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
}

.about button i {
  color: white;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.about button .paper {
  position: absolute;
  background-color: #fff3c4;
  height: 3em;
  width: 3em;
  top: 0;
  left: -110%;
  z-index: -1;
  -webkit-transform: rotate3d(1, 1, 1, 9deg);
          transform: rotate3d(1, 1, 1, 9deg);
  -webkit-transition: left 0.6s;
  transition: left 0.6s;
}

.about button:hover i {
  color: black;
}

.about button:hover .paper {
  left: 3%;
}

.about .content {
  width: 50%;
  height: 100%;
  margin: auto;
  position: relative;
}

.about .scroll {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: auto;
  -webkit-animation-name: creditsScroll;
          animation-name: creditsScroll;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.about .scroll:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.about h2 {
  font-size: 4em;
  margin-bottom: 1em;
}

.about h3 {
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.about p, .about a {
  font-size: 1.1em;
  color: white;
}

.about ul {
  text-align: left;
  width: 70%;
  margin: 1em auto 1em auto;
}

.about ul li {
  margin-bottom: 1em;
}

.path {
  width: 5px;
  height: 5px;
  position: absolute;
}

.node {
  border: 1px solid grey;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  z-index: 4;
}

.node:hover {
  border: 1px solid yellow;
}

.node .radar {
  background-color: rgba(0, 88, 29, 0.102);
  border: 0.5em solid rgba(0, 189, 63, 0.397);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.tower {
  width: 100%;
  height: 100%;
}

.projectile {
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.enemy {
  z-index: 1;
  position: absolute;
}

.enemy .hp-bar {
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 3;
}

.enemy .hp-bar .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 0;
      grid-template-columns: 100% 0;
  height: 2px;
  width: 60%;
  margin: auto;
  visibility: hidden;
}

.enemy .hp-bar .content .green {
  background-color: green;
}

.enemy .hp-bar .content .red {
  background-color: red;
}

.enemy .sprite {
  margin: auto;
}

.hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hud .top-hud {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12% 12% 12% 1fr auto auto;
      grid-template-columns: 12% 12% 12% 1fr auto auto;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 0 25px;
  padding: 2%;
  color: white;
  font-size: 1em;
  z-index: 8;
  pointer-events: none;
}

.hud .top-hud .volume {
  text-align: right;
}

.hud .top-hud button {
  pointer-events: all;
  background: none;
  color: white;
  border: none;
  font-size: 1.5em;
  z-index: 2;
}

.hud .top-hud .fa-heart, .hud .top-hud .fa-atom {
  margin-right: 5px;
}

.hud .bottom-hud {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hud .bottom-hud .power {
  z-index: 5;
  position: relative;
  margin: 0 0.5em;
}

.hud .bottom-hud .power .new {
  position: absolute;
  top: 5%;
  left: 70%;
  padding: 2px;
  border-radius: 5px;
  background-color: #c4cfff;
  pointer-events: none;
}

.hud .bottom-hud .description {
  display: none;
  position: absolute;
  bottom: 4.5em;
  left: 0;
  padding: 1em;
  background-color: #535353c9;
  color: white;
  width: 12em;
}

.hud .bottom-hud button {
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 2em;
  line-height: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, rgba(1, 1, 1, 0)), color-stop(50%, #fff3c4));
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0) 49%, #fff3c4 50% 100%);
  background-size: 100% 200%;
  background-position: 0% 99%;
  -webkit-animation: Animation 5s ease infinite;
          animation: Animation 5s ease infinite;
  color: #55596d;
  opacity: 0.8;
}

.hud .bottom-hud button:disabled {
  opacity: 0.5;
}

.hud .bottom-hud button:hover {
  opacity: 1;
}

.hud .bottom-hud button:hover + .description {
  display: block;
}

.encyclopedia {
  position: relative;
  pointer-events: all;
}

.encyclopedia .fa-question-circle {
  position: relative;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.encyclopedia .content {
  padding: 2%;
  z-index: 2;
  position: absolute;
  left: -5em;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.encyclopedia:hover .content {
  left: 0;
}

.encyclopedia:hover .fa-question-circle {
  color: #fff3c4;
}

.encyclopedia .content > div {
  position: relative;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.encyclopedia .content > div .quantity {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.1em;
  height: 1.1em;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: blue;
}

.encyclopedia .content > div .quantity p {
  font-size: 0.8em;
  line-height: 1.4em;
}

.encyclopedia .content > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.encyclopedia .content > div:hover .description {
  display: block;
}

.encyclopedia .content > div .description {
  display: none;
  position: absolute;
  top: 0;
  background-color: #535353c9;
  left: 100%;
  min-width: 120px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.encyclopedia .content > div .description h2 {
  font-weight: bold;
}

.tutorial .pointer {
  position: absolute;
  color: #fff3c4;
  pointer-events: none;
  z-index: 5;
}

.tutorial .pointer i {
  font-size: 3em;
  position: relative;
  -webkit-animation: pointer 1s infinite;
          animation: pointer 1s infinite;
}

.tutorial .pointer .node-text {
  position: relative;
  font-size: 1.5em;
}

.tutorial .pointer .hp-text {
  position: relative;
  top: 3em;
  width: 8em;
}

.tutorial .pointer .money-text {
  position: relative;
  top: 3em;
  width: 10em;
}

.tutorial .powers {
  color: #fff3c4;
  font-size: 1em;
}

.tutorial .powers .text {
  position: relative;
  width: 10em;
  text-align: right;
  right: 11em;
  bottom: 1em;
}

.call-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: 2.5em;
  padding: .25em;
  background-color: #fff3c4;
  border: none;
  z-index: 6;
}

.call-wave:hover {
  background-color: #ffe991;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 7;
}

.modal .box {
  position: relative;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff3c4;
  padding: 1em;
  z-index: 1;
}

.modal .box h2 {
  text-align: center;
}

.modal .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.808);
  position: absolute;
}

.pause-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.pause-menu button {
  background-color: #fffdf7;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px 1px #ffe991;
          box-shadow: inset 0px 0px 3px 1px #ffe991;
  font-size: 2em;
  padding: 1em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.pause-menu button:hover {
  background-color: #ffe991;
}

.pause-menu button:disabled {
  background-color: grey;
}

.tower-picker {
  text-align: center;
  position: relative;
  padding: 1em 3em;
}

.tower-picker h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.tower-picker .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tower-picker .container > div {
  position: relative;
}

.tower-picker button {
  height: 4em;
  width: 4em;
  margin: 0.2em;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  background-color: #fffdf7;
}

.tower-picker button:disabled {
  background-color: grey;
}

.tower-picker button img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.tower-picker .selected {
  border: 0.5em solid yellow;
}

.tower-picker .confirm {
  position: absolute;
  left: 95%;
  top: 85%;
}

.tower-picker .new {
  position: absolute;
  top: 5%;
  left: 70%;
  padding: 2px;
  border-radius: 5px;
  background-color: #c4cfff;
}

.tower-picker .description {
  position: absolute;
  color: white;
  background-color: #535353c9;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: left;
  left: 0;
  top: calc(100% + 1em);
}

.tower-picker .description h3 {
  font-weight: bold;
}

.level-up h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.level-up label {
  font-weight: bold;
  line-height: 1.1em;
}

.level-up li {
  margin-left: 1em;
}

.level-up .buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.level-up button {
  background-color: #fffdf7;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px 1px #ffe991;
          box-shadow: inset 0px 0px 3px 1px #ffe991;
  font-size: 2em;
  padding: 1em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}

.level-up button:hover {
  background-color: #ffe991;
}

.level-up button:disabled {
  background-color: grey;
}

.game-over h2, .win-game h2 {
  font-size: 3em;
  margin-bottom: 1%;
}

.game-over .buttons, .win-game .buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 5%;
}

.game-over .buttons button, .win-game .buttons button {
  background-color: #fffdf7;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px 1px #ffe991;
          box-shadow: inset 0px 0px 3px 1px #ffe991;
  font-size: 2em;
  padding: 1em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.game-over .buttons button:hover, .win-game .buttons button:hover {
  background-color: #ffe991;
}

.game-over .buttons button:disabled, .win-game .buttons button:disabled {
  background-color: grey;
}

.game-over .end-game, .win-game .end-game {
  background-color: #fffdf7;
  border: none;
  -webkit-box-shadow: inset 0px 0px 3px 1px #ffe991;
          box-shadow: inset 0px 0px 3px 1px #ffe991;
  font-size: 2em;
  padding: 1em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: block;
  width: 100%;
}

.game-over .end-game:hover, .win-game .end-game:hover {
  background-color: #ffe991;
}

.game-over .end-game:disabled, .win-game .end-game:disabled {
  background-color: grey;
}

.card {
  text-align: center;
}

.card h2 {
  font-size: 2em;
  white-space: nowrap;
}

.card i {
  margin: 0.5em;
  font-size: 4em;
}

.card .box {
  position: absolute;
  bottom: 100%;
}
